body {
    background-color: lightblue;
}

a {
    color: black;
}

.top-text {
    position: fixed;
    background-color: lightslategray;
    top: 0px;
    text-align: center;
    width: 1100px;


}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    opacity: 0.9;
    border-radius: 1px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.right-menu {
    position: fixed;
    top: 20px;
    right: 50px;

}

.left-menu {
    position: fixed;
    top: 20px;
    left: 30px;
}

.pro-pic {

    width: 1100;
    height: 600;
    border: 3px cadetblue;
}

.pro-action {
    position: absolute;
    bottom: 80px;
    right: 200px;
    border: 3px cadetblue;

}

#menu {
    background-color: cadetblue;
}

.container{
display: grid;
grid-template-columns: auto auto auto auto;
grid-template-rows: 400px;
justify-content: space-between;
}

.container > div {
    background-color: white;
    width: 250px;
    height: 350px;
    

}
.item {
    text-align: center;
}

footer {
    background-color: darkslategray;
    display: block;
    /* width: 1100px;
    height: 250px; */
}
